.head-background {
    padding: 10px 0;
    text-align: center;
    background-image: radial-gradient(#419f6a 60%, #3c79b8 40%);
 }

 .footer-background {

    padding: 10px;
    text-align: center;
    position: fixed;
    bottom:0;
 }

 .dropdown {
    position: relative;
 }
 
 .droptitle {
    margin-bottom: 0px;
 }
 
 .dropdown-content {
    display: none;  /* Hides content */
    position: absolute;
    margin-top: 0px;
    background-color: white;
    width: 100%;
    border: 1px solid lightgray;
    padding: 10px 15px;
 }
 
 .dropdown:hover .dropdown-content {
    display: block;  /* Displays content */
 }