{% extends "base.html" %}

    {% block content %}
    
    <form action="/" method="POST">
        <table>
            <tr>
                <th><h2>Select Your Pizza Toppings</h2></th>
            </tr>
            <tr>
                <td>
                    {% for topping in pizza_toppings %}
                    <label><input type="{{input}}" name="toppings" value="{{topping}}"/>{{topping.capitalize()}}</label><br>
                    {% endfor %}
                </td>  
            </tr> 
            <tr>  
                <td><button>Submit</button></td>
            </tr>
        </table>
    </form>
    {% if choices|length >0 %}
        <section>
            <h2>Your Choices</h2>
            <ul>
                {% for choice in choices %}
                <li>{{choice.capitalize()}}</li>
                {% endfor %}
            </ul>
        </section>      
    {% endif %}
    {% endblock %}